<% include ../partials/header %>
<% include ../partials/menu %>      

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

<h2 class="title"><%= name %>'s Round</h2>

<div class="container image-container">
  <p><%= round.target_latitude %></p>
  <p><%= round.target_longitude %></p>
  <img src='../uploads/<%=round.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" 
        onclick="alert('Check location against the picture location and do stuff')">
        Found It!
  </button>
</div>

<div class="container map-container">
      <h1>Current Location</h1>
      <div id="map-canvas" style="width:600px;height:400px"></div>
</div>

<script src="../resources/js/currentLocationMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<% include ../partials/footer %>