<% include ../partials/header %>
<% include ../partials/menu %>      

<h2 class="title">
  <% if(currentUserOwnsRound) { %>
    Your
  <% } else { %>
    <%= round.starter_name %>'s 
  <% } %> 
  Round
</h2>

<div class="hidden-container">
  <div class="debugging" <% if(!debugging) { %> style="display: none" <% } %> >
    <p id="target-lat"><%= round.target_latitude %></p>
    <p id="target-lng"><%= round.target_longitude %></p>
    <p id="your-lat"></p>
    <p id="your-lng"></p>
    <p id="distance"></p>
  </div>
  <form id="guessLocation" enctype="multipart/form-data" 
        method="POST" action="/guessTargetLocation" >
    <input type="hidden" name="lat" id="lat">
    <input type="hidden" name="lng" id="lng">
    <input type="hidden" name="round_id" id="round_id" value='<%= round.round_id %>'>
  </form>
</div>
<div class="container image-container">
  <img src='../uploads/<%=round.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" style="display: none;"
          onclick="$('form#guessLocation').submit()">
      Found It!</button>
</div>

<div class="container map-container">
  <h1>Current Location</h1>
  <div id="map-canvas"></div>
</div>

<!-- Load map & related resources in this order, specifically.
     It's the fastest way to get them all loaded without errors. -->
<script src="../resources/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="../resources/js/geolocation.js"></script>
<script>
  function handleLocationUpdate(lat, lng) {

      /* This callback to getLocation receives 
         lat & lng as parameters -- the newest
         geolocation result, taken together. */

      // update hidden guessTarget form
      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;

      // make the "I'm here" button show up
      // if the user doesn't own this round
      if(<%= !currentUserOwnsRound %>) {
        document.getElementsByClassName('button')[0].style = "display: block;";
        console.log('ready to guess!');
      }

      // display the current lat / long as debugging info
      document.getElementById('your-lat').innerHTML = lat;
      document.getElementById('your-lng').innerHTML = lng;
      
      // calculate & display the distance from the 
      // current location to the target (in debugging)
      let calculatedDistance = distance(
        document.getElementById('target-lat').innerHTML, 
        document.getElementById('target-lng').innerHTML, 
        lat, lng);
      document.getElementById('distance').innerHTML = 
        `distance in feet: ${calculatedDistance}`;

      redraw(lat, lng);
      console.log('redrew map');
  }
  window.addEventListener('DOMContentLoaded', function() {
    getLocation(handleLocationUpdate);
    setInterval(function(){
      getLocation(handleLocationUpdate);
    }, 1500);
  });
</script>

<% include ../partials/footer %>