<% include ../partials/header %>
<% include ../partials/menu %>      

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

<h2 class="title">Round #<%= round.id %></h2>

<div class="container image-container">
  <p><%= round.target_latitude %></p>
  <p><%= round.target_longitude %></p>
  <img src='../uploads/<%=round.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" 
        onclick="alert('Check location against the picture location and do stuff')">
        Found It!
  </button>
</div>

<div class="container">
      <h1>Current Location</h1>
      <div id="map-canvas" style="width:600px;height:400px"></div>
    </div>

    <script>
    window.lat = 40.0150;
    window.lng= -105.2705;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(updatePosition);
        }
      
        return null;
    };

    function updatePosition(position) {
      if (position) {
        window.lat = position.coords.latitude;
        window.lng = position.coords.longitude;
      }
    }
    
    setInterval(function(){updatePosition(getLocation());}, 5000);
      
    function currentLocation() {
      return {lat:window.lat, lng:window.lng};
    };

    var map;
    var mark;

    var initialize = function() {
      map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:17});
      mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
    };

    window.initialize = initialize;

    var redraw = function(payload) {
      lat = payload.message.lat;
      lng = payload.message.lng;

      map.setCenter({lat:lat, lng:lng, alt:0});
      mark.setPosition({lat:lat, lng:lng, alt:0});
    };

    var pnChannel = "map2-channel";

    var pubnub = new PubNub({
      publishKey:   '<%= keys.pn_pub %>',
      subscribeKey: '<%= keys.pn_sub %>'
    });

    pubnub.subscribe({channels: [pnChannel]});
    pubnub.addListener({message:redraw});

    setInterval(function() {
      pubnub.publish({channel:pnChannel, message:currentLocation()});
    }, 5000);
        
    function updateFormLocation(){
        document.getElementById("lat").value = window.lat;
        document.getElementById("lng").value = window.lng;
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<% include ../partials/footer %>